
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 0;
}

header {
    top: 0%;
    position: fixed;
    height: 14.6vw;
    width: 100%;
}
#logo {
    width: 14.6vw;
    height: auto;
}

.container {
    position: relative;
    background-color: #ffffffa2;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10rem;
    text-align: center;
}
.container h1 {
    color: #333;
    margin-bottom: 20px;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container input {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.container button {
    background-color: #1a6a1a;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

.container form a {
    color: #1a6a1a;
    text-decoration: none;
}

.container a:hover {
    text-decoration: underline;
}

.background_img img{
    position: absolute;
    left: 28%;
    top: 0%;
    z-index: -1;
    width: 70vw;
    height: 100%;
}